:root {
    --app-bg-color: rgb(16, 26, 32);
    --app-text-color: rgb(233, 237, 239);
    // --chat-bg-color: rgb(239, 234, 226);
    --chat-bg-color: rgb(11, 20, 26);
    --button-color: rgb(217, 222, 224);
    --button-bg-color: rgb(32, 44, 51);
    --app-import-file-bg-color: #222e35;
    --font-family: 'Open Sans', sans-serif;
}
